<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="comment-title"></div>

        <div class="comment-text">
            {{comment_text}}
            </br>
            </br>
            -{{user.username}} on {{format_date created_at}}
        </div>
    </section>
    {{/each}}
</div>