<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="nav">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Dashboard</a>
                    <a href="#">Login</a>
                    <a href="#">Logout</a>
                </nav>
            </div>
            <div class="break"></div>
            <div class="headh1">
                <h1>
                    <a href="/">The Tech Blog</a>
                </h1>
            </div>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

</body>

</html>